@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NeueMachina';
  src: url('./fonts/NeueMachina-Ultrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.body-text {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-text {
  font-family: "NeueMachina", monospace;
  font-style: normal;
  letter-spacing: -1px;
}